body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {   
    display:flex;
    justify-content: space-between;
    background: #1F2937;
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    gap: 15px;
}


.main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 300px;
}

.second {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 410px;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding-left: 300px;
    gap: 200px;
}

.navigation {
    padding-right: 300px;
}

.placeholder {
    background-color: grey;
    display: flex;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
}