.hero {
    padding: 30px;
    background-color: #1F2937;
}

.main {
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
}

.second, .topbar {
    font-size: 18px;
    color: #E5E7EB
}

ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: end;
    align-items: top;
}